<!--========================================
    Preloader
  =========================================-->
<div id='preloader'>
    <div class='loader'>
        <img src='<%=HelperService.getBaseUrl(req)%>/images/loader.gif' alt>
    </div>
</div>

<!--========================================
    Menu
  =========================================-->
<div class='top-nav'>
    <div class='container'>

        <a href='#' class='menu-btn white-btn'>
            <span class='lines'>
          <span class='l1' ></span>
            <span class='l2'></span>
            <span class='l3'></span>
            </span>
        </a>

        <div class='menu'>
            <ul>

                <li>
                    <a data-scroll href='<%=HelperService.getBaseUrl(req)%>#home'>Home</a>
                </li>

                <li>
                    <a data-scroll href='<%=HelperService.getBaseUrl(req)%>#about'>sobre</a>
                </li>

                <li>
                    <a data-scroll href='<%=HelperService.getBaseUrl(req)%>#services'>serviços</a>
                </li>

                <li>
                    <a data-scroll href='<%=HelperService.getBaseUrl(req)%>#skills'>meus fuc**** skills</a>
                </li>

                <!-- <li>
                    <a data-scroll href='<%=HelperService.getBaseUrl(req)%>#portfolio'>portfólio</a>
                </li> -->

                <li>
                    <a data-scroll href='<%=HelperService.getBaseUrl(req)%>#experience'>experiência</a>
                </li>

                <li>
                    <a data-scroll href='#testimonials'>depoimentos de clientes</a>
                </li>

                <li>
                    <a data-scroll href='<%=HelperService.getBaseUrl(req)%>#contact'><strong>FALA COMIGO!</strong></a>
                </li>

            </ul>
        </div>
    </div>
</div>
