<!DOCTYPE html>
<html>

<head>
    <title>
        <%=typeof title == 'undefined' ? 'New Sails App' : title%>
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Standard Favicon -->
    <link rel="icon" href="/images/favicon.png" />

    <!--STYLES-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/linea.css">
    <link rel="stylesheet" href="/styles/ionicons.min.css">
    <link rel="stylesheet" href="/styles/waves.min.css">
    <link rel="stylesheet" href="/styles/owl.carousel.css">
    <link rel="stylesheet" href="/styles/aos.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
</head>

<body class='<%= bodyClass %>'>

    <%- partial('./partials/navbar.ejs') %>

        <%- body %>

            <%- partial('./partials/footer.ejs') %>

                <!--TEMPLATES-->
                
                <!--TEMPLATES END-->

                <!--SCRIPTS-->
                <script src="/js/dependencies/sails.io.js"></script>
                <script src="/js/dependencies/jquery.min.js"></script>
                <script src="/js/dependencies/smooth-scroll.min.js"></script>
                <script src="/js/dependencies/jquery.shuffle.min.js"></script>
                <script src="/js/dependencies/waves.min.js"></script>
                <script src="/js/dependencies/owl.carousel.min.js"></script>
                <script src="/js/dependencies/validator.min.js"></script>
                <script src="/js/dependencies/aos.js"></script>
                <script src="/js/script.js"></script>
                <!--SCRIPTS END-->
</body>

</html>
