<!--========================================
  Main Section
=========================================-->
<section class='main-section' id='home'>
    <div class='container'>

        <div class='person-img' data-aos='zoom-out-up'>
            <img src='images/jonathan-cool.jpg' alt>
        </div>

        <p class='intro-info before-name' data-aos='fade-up'><strong>I AM</strong></p>

        <h1 class='intro-name' data-aos='fade-up'><strong>Jonathan Iqueda</strong></h1>

        <p class='intro-info' data-aos='fade-up'>A web developer of things</p>
        <p class='intro-info' data-aos='fade-up'><i>~ um simples desenvolvedor web mesmo ~</i></p>

    </div>
</section>

<section class='section about-section' id='about'>
    <div class='container'>

        <div class='section-header' data-aos='fade-up'>
            <h2>Sobre</h2>
        </div>

        <!-- about text -->
        <div class='about-text'>

            <p class='large' data-aos='fade-up' data-aos-offset='0'>
                Pensa no cara que cria soluções para os seus problemas...
            </p>

            <p data-aos='fade-up'>
                E olha que não são poucas soluções não ein... Se for preciso eu troco até a lâmpada do seu quarto que acabou de queimar! <strike>~brinks~</strike>
            </p>

            <p data-aos='fade-up'>
                Brincadeiras à parte. Meu nome é Jonathan Iqueda, eu sou um <strong>Desenvolvedor de Web Apps com grande foco no Desenvolvimento Back-end.</strong> Mais para baixo você vai ver quais as tecnologias que eu domino. Acho que você não precisa
                e nem quer saber muito mais do que isso de mim <i>~risos~</i>
            </p>

            <p data-aos='fade-up'>
                Então se você quer uma <strong>solução prática, rápida e definitiva</strong> pro seu problema, <a href="#contact">manda uma mensagemzinha para mim</a> ou <a href="tel:21982841840">me liga (21) 9-8284-1840</a>. A gente marca um call simples
                de 10 minutos e puff... A solução vai começar a ser criada para você!
            </p>

        </div>

        <!-- social links -->
        <ul class='social-links' data-aos='fade-up'>
            <li>
                <a href='https://www.facebook.com/jonathaniqueda' target="_blank">Facebook</a>
            </li>
            <li>
                <a href='https://www.linkedin.com/in/jonathan-iqueda-baa098a0' target="_blank">LinkedIn</a>
            </li>
            <li>
                <a href='https://github.com/jonathaniqueda' target="_blank">GitHub</a>
            </li>
            <li>
                <a href='https://bitbucket.org/jiqueda/' target="_blank">BitBucket</a>
            </li>
        </ul>

    </div>
</section>

<%- partial('./partials/funfacts.partial.ejs') %>
    <%- partial('./partials/services.partial.ejs') %>
        <%- partial('./partials/skills.partial.ejs') %>
            <%- partial('./partials/portfolio.partial.ejs') %>
            <%- partial('./partials/experience.partial.ejs') %>
                    <%- partial('./partials/testimonial.partial.ejs') %>
                        <%- partial('./partials/contact.partial.ejs') %>
